#menu-hero-content {
  padding: 1rem;
  width: 100%;
  font-size: 1.3rem;
  word-break: break-all;
  background: #ffffff;
}

#menu-items {
  background: #ffffff6e;
  padding: .5rem;
  width: 100%;
}

#menu-item-icon {
  margin-right: 1rem;
}