html {
  outline: none;
}
body {
  margin: 0;
  font-size: 17px;
  font-family: Futura PT, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #142342;
  --hover: #121212;
  --white: #fff;
  --gray: #e2dedc;
}

#pop-box-placholder {
  border: none;
  border-radius: 0.3rem;
  width: 100%;
  height: 100%;
}

#studio {
  height: 100%;
  width: 100%;
  position: fixed;
}

/*----------------------------BOOTSTRAP OVERRIDES--------------------------------*/

.modal-title {
  font-weight: 900;
}

.modal-content {
  border: none;
  height: 100%;
  background: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.modal-header {
  border-bottom: none;
  padding:0;
  height: auto;
  justify-content: flex-end;
}

.modal-header .close {
  outline: none;
  border: none;
  background: none;
}

.close {
  text-shadow: none;
  opacity: 1;
  color: #333333;
  font-size: 2rem;
  padding-right: 1rem;
  height: 37px;
  font-weight: 400;
  margin-top: -8px;
}

.close:hover {
  color: #333333;
}

.modal-dialog {
  max-width: 80%;
  height: 80%;
  width: 100%;
  border-radius: 0.5rem;
  background: transparent;
}

.modal-body {
  height: 100%;
  width: 100%;
  padding: 0.3rem;
  border-radius: 0 0 0.3rem 0.3rem;
}

button:focus {
  outline: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #525252;
}

@media (max-width: 576px) {
  .modal-dialog {
    margin: 0.5rem auto;
  }
}
